%h2= @page_title

- form_for(@watch) do |f|
  = render :partial => 'form', :locals => { :f => f, :watch => @watch }
  .save
    = f.submit 'Save' 
    or 
    = link_to 'Cancel', :back
    
= link_to 'Delete this Watch', @watch, :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
